* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/img/imagen_1.jpg'); /* Añadimos la imagen de fondo */
    background-size: cover; /* La imagen cubre todo el fondo */
    background-position: center; /* Centramos la imagen */
    background-repeat: no-repeat; /* Evitamos que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed; /* Fijamos la imagen al fondo */
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Hacemos el fondo del formulario semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.extra-options {
    margin-top: 15px;
}

.extra-options a {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

.extra-options a:hover {
    text-decoration: underline;
}

.extra-options p {
    margin-top: 10px;
    font-size: 14px;
}
