body{
    font-family: Arial;
    font-weight: bold;
    background: rgb(121, 121, 121);
}
/*estilizando_menu_de_navegacion*/
.contenedor_1{
    width: 1351px;
    height: 88px;
    border-radius: 5px 5px 0px 0px;
    background: rgb(139, 33, 33);
}
.dadis_logo{
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px 5px 0px 0px;
    width: 100px;
}
.titulo_1{
    margin-top: -57px;
    margin-left: 110px;
}
.contenedor_menu_de_navegacion{
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.menu_de_navegacion{
    margin-top: 15px;
    display: block;
}
.contenedor_carrusel{
    display: flex;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.carrusel{
    margin-top: 15px;
    margin-left: 21px;
    display: block;
}
.contenedor_aliados{
    display: flex;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.aliados{
    margin-top: 15px;
    margin-left: 21px;
    display: block;
}
.contenedor_noticias{
    display: flex;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.noticias{
    margin-top: 15px;
    margin-left: 21px;
    display: block;
}
.contenedor_calendario{
    display: flex;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.calendario{
    margin-top: 15px;
    margin-left: 21px;
    display: block;
}
.contenedor_sujerencia{
    display: flex;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.sujerencia{
    margin-top: 15px;
    margin-left: 21px;
    display: block;
}
.contenedor_publicidad{
    display: flex;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.publicidad{
    margin-top: 15px;
    margin-left: 21px;
    display: block;
}
.contenedor_contactos{
    display: flex;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.contactos{
    margin-top: 15px;
    margin-left: 21px;
    display: block;
}
.contenedor_pie_de_pagina{
    display: flex;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.pie_de_pagina{
    margin-top: 15px;
    margin-left: 21px;
    display: block;
}
.contenedor_categorias{
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.categorias{
    margin-top: 15px;
    margin-left: -78px;
    display: block;
}
.seleccionar_opcion{
    text-decoration: none;
    color: black;
}
.seleccionar_opcion:hover{
    color: rgb(255, 255, 255);
}
/*estilizando_carrusel_editor*/
.contenedor_3{
    display: flex;      
    margin-top: -545px;
    margin-left: 205px;
    width: 430px;
    height: 230px;
    border-radius: 0px 0px 5px 0px;
    background: rgb(139, 33, 33);                   
}
.titulo_4{
    margin-top: 15px;
    margin-left: 162px;
    display: block;
}
.contenedor_titulo_3{
    margin-top: 157px;
    margin-left: 205px;
    width: 500px;
}
.titulo_texto_8{
    margin-top: -343px;
    margin-left: 23px;
}
.titulo_texto_9{
    margin-left: 25px;
}
.titulo_texto_10{
    margin-left: 83px;
}
.titulo_texto_11{
    margin-left: 50px;
}
.guardar{
    font-size: 20px;
    margin-left: 170px;
}
/*estilizando_tablero*/
table {
    width: 700px;
    height: 50px;
    margin-top: -222px;
    margin-left: 650px;
    border-radius: 0px 0px 5px 0px;
    background-color: #000000;
}

thead {
    border-radius: 0px 0px 5px 0px;
    background-color: rgb(139, 33, 33);
    color: rgb(0, 0, 0);
}