body{
    font-family: Arial;
    font-weight: bold;
    background: rgb(121, 121, 121);
}
.contenedor_1{
    width: 1351px;
    height: 88px;
    border-radius: 5px 5px 0px 0px;
    background: rgb(139, 33, 33);
}
.dadis_logo{
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px 5px 0px 0px;
    width: 100px;
}
.titulo_1{
    margin-top: -57px;
    margin-left: 110px;
}
.contenedor_menu_de_navegacion{
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 5px;
    background: rgb(139, 33, 33);                   
}
.menu_de_navegacion{
    margin-top: 15px;
    display: block;
}
.seleccionar_opcion{
    text-decoration: none;
    color: black;
}
.seleccionar_opcion:hover{
    color: rgb(255, 255, 255);
}